@font-face {
    font-family: MyriadPro-Regular;
    src: url('fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: MyriadPro-BoldCond;
    src: url('fonts/MyriadPro-BoldCond.otf');
}
@font-face {
    font-family: MyriadPro-LightCondIt;
    src: url('fonts/MyriadPro-LightCondIt.otf');
}


.wrapper{
  width:274px;
  max-height:400px;
  height:0px;

}
img{
  display:inline;
  vertical-align:text-bottom!important;
}
.borderblack{
  border: 5px solid black;
  border-radius:3px;
}
#statBox{
  padding-top: 55px;
  padding-left: 90px;
}
#warning{
  color:red;
}
#hide-this{
  display:none;
}
#click-hide{
  font-family:MyriadPro-BoldCond;
}
.sub-info{
  font-family:MyriadPro-BoldCond;
  font-size:15pt;
}
body{
  font-family:MyriadPro-Regular;
}
h1{
  font-family:MyriadPro-BoldCond;
}
h3{
  font-family:MyriadPro-BoldCond;
  margin-top:0px;
  font-size:11pt;
}
h4{
  font-family:MyriadPro-Regular;
  font-size:13pt;
}
.icon-img:hover{
  cursor:pointer;
  border:1px solid blue;
  border-radius:3px;
}
p{
  font-size:12pt;
}
button{
  font-family:MyriadPro-BoldCond;
  font-size:14pt;
  border-radius:3px;
}
.number{
  font-family:MyriadPro-BoldCond;
  font-size:15pt;
}
.italicized{
  font-family:MyriadPro-LightCondIt;
}

/*embed responsively*/
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; /*max-width: 100%;*/ width:100%; height:500%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; right:0; height: 300%; width:100%; }

/*EMBED LINK:
<div class='embed-container'><iframe src='http://dth-i-team.github.io/DrugIssue/caff-graphic/index.html' style='border:0'></iframe></div>/*
